.main {
    width: 80%;
    max-width: 800px;
}

header #navbarSupportedContent {
    float: right;
}

a {
    color: #c8c9ca;
}

a:hover {
    color: #a8a9aa;
}

#content a {
    color: #003bcf;
}

#content a:hover {
    color: #002baf;
}

header, footer {
    background-image: url('/images/amirali-mirhashemian-uQr-pBGLhEY-unsplash.png');
}

h1 {
    display: inline-block;
}

ul.links, ul.links li {
    display: inline-block;
    list-style-type: none;
}

.half {
    position: relative;
}

.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 50%;
}

.ratingbox {
    position:relative;
    vertical-align: middle;
    font-size: 3/3em;
    height: 100%;
    font-family: FontAwesome;
    display:inline-block;
}
.ratingbox:before{
    content: "\f006 \f006 \f006 \f006 \f006";
}
.ratingbox .rating {
    position: absolute;
    left:0;
    top:0;
    white-space:nowrap;
    overflow:hidden;
}
.ratingbox .rating:before {
    content: "\f005 \f005 \f005 \f005 \f005";
}
  

.faStarIcon:before {
    /* position:absolute; */
    font-family: FontAwesome;
    top:0;
    left:-5px;
    padding-right:10px;
    overflow: hidden;
    width: 50%;
    content: "\f005"; 
}